.venv/
dataset/
models/best.pt
runs/
tst_imgs
test1.webp
New images/
Number plates/
testcuda.py
VEHICLE_IMAGES/
VEHICLE_IMAGES2/
new-lot1-vehicles/
train_labels.csv/
val_labels.csv/
time.png
img.jpg
OIP.webp




